In [2]:
name = 'John'
age = 25
height = 1.75
is_student = True

print( f"Name: {name}, Age: {age}")

Name: John, Age: 25

In [4]:
x = 'Welcome'

print(x[3])
print(x[3:5])
print(x[3:])
print(x[:5])
print(x.upper())
print(x.lower())
print(len(x))
print('come' in x)
print('come1' in x)

y = x.replace('Welc','H')

print(y)

c
co
come
Welco
WELCOME
welcome
7
True
False
Home

In [1]:
x = 3
y = 2.5

print(x + y)
print(x - y)
print(x * y)
print(x / y)

5.5
0.5
7.5
1.2

In [3]:
num1 = input("enter a number: ")
print(num1)

3

In [3]:
import math
z = 3.14159
print(z)
print(math.floor(z))
print(math.ceil(z))
print(math.floor(z * 100) / 100) # Returns 3.14
print(math.ceil(z * 100) / 100) # Returns 3.15
print(round(z))
print(f"{z:.2f}") # Displays "3.14"
print(f"{z:.2%}")

3.14159
3
4
3.14
3.15
3
3.14
314.16%

In [7]:
num1 = input("Input first digit: ") #1
num2 = input("Input second digit: ") #2
print(num1+num2) #12
print(int(num1)+int(num2)) #3

12
3

In [28]:
age=100
if age >= 18:
    print("Adult")
else:
    print("Minor")

Adult

In [31]:
age2 = 100

result = "adult"

if age<= 17:
    result = "minor"

print(result)

adult

In [39]:
age = int(input())
if age >= 18 and age<= 20:
    print("Freshman")
elif age > 20 and age <= 22:
    print("Upperclassman")
elif age > 22:
    print("Graduate")
else:
    print("Still in school")

Still in school

In [8]:
a = True
b = True
c = False

d = a and b and (not c)

# Display the result
print(f"a = {a}")
print(f"b = {b}")
print(f"c = {c}")
print(f"d = a and b and (not c) = {d}")

a = True
b = True
c = False
d = a and b and (not c) = True

In [45]:
# Stop the loop when a condition is met
print("\nCounting until we reach 7:")
for i in range(1, 20):
    print(f"Number: {i}")
    if i == 7:
        print("Found 7! Breaking out of the loop.")
        break # Exit the loop completely
print("Loop finished")

Counting until we reach 7:
Number: 1
Number: 2
Number: 3
Number: 4
Number: 5
Number: 6
Number: 7
Found 7! Breaking out of the loop.
Loop finished

In [ ]:
print("\nPrinting only odd numbers from 1 to 10:")
for i in range(1, 20):
    if i % 2 == 0:
        continue # Skip the rest of the loop for this iteration
    print(f"Odd number: {i}")

Printing only odd numbers from 1 to 10:
Odd number: 1
Odd number: 3
Odd number: 5
Odd number: 7
Odd number: 9
Odd number: 11
Odd number: 13
Odd number: 15
Odd number: 17
Odd number: 19

In [57]:
x = 10
def without_global():
    global x
    # x = 5 # This creates a new local variable, doesn't affect the global x
    print(f"Local x: {x}")
without_global() # Output: Local x
print(f"Global x: {x}") # Output: Global x: 10

Local x: 10
Global x: 10

In [55]:
def fahrenheitConverter():
    c = float(input())
    f = (c * 9 /5) +32
    return f

fahrenheit = fahrenheitConverter()

print(fahrenheit)

44.5946

In [4]:
fruits = ["apple", "banana", "orange"]
print(fruits)
fruits.append("grape")
print(fruits)
fruits.remove("apple")
print(fruits)
print(fruits[0])
print(fruits[-1])
fruits.insert(1, "mango")
print(fruits)

['apple', 'banana', 'orange']
['apple', 'banana', 'orange', 'grape']
['banana', 'orange', 'grape']
banana
grape
['banana', 'mango', 'orange', 'grape']

In [7]:
numbers = [3, 1, 4, 1, 5, 9, 2]

# Sorting
numbers.sort()
print(numbers)
# Reversing
numbers.reverse()
print(numbers)
# Counting occurrences
print(numbers.count(1))
# Finding index
print(numbers.index(5))

[1, 1, 2, 3, 4, 5, 9]
[9, 5, 4, 3, 2, 1, 1]
2
1

In [11]:
numbers = [3, 5, 1]
num = numbers
num.sort()
print(numbers) #[1,3,5]
print(num) #[1,3,5]

[1, 3, 5]
[1, 3, 5]

In [28]:
numbers = [3, 5, 1]
num = numbers.copy()
num.sort()
print(numbers) #[1,3,5]
print(num) #[1,3,5]

[3, 5, 1]
[1, 3, 5]

In [127]:
todos = []

In [128]:
# todos = []

# todos.append("Learn python")
# todos.append("Practice coding")
# todos.append("Take a break")
todos.append(input("enter task"))
print("My To-Do List:")
for index, task in enumerate(todos, 1):
    print(f"{index}. {task}")

My To-Do List:
1. hi

In [70]:
students = [
    {"name": ["Alex", "Hallberg"]},
    {"age": 20},
    {"major": "Computer Science"}]
# Iterate through keys (default)
# for key in student:
#     print(key)
print("============================")
# Iterate through values
# for value in student.values():
#     print(value)
print("============================")
# Iterate through key-value pairs
# for key, value in student.items():
#     print(f"{key}: {value}")

============================
============================

In [75]:
students = [
    {"name": ["Alex", "Hallberg"],
    "age": 20,
    "major": "Computer Science"},
    {"name": ["John", "Hopkins"],
    "age": 25,
    "major": "Pure science"},
    {"name": ["Maru", "Etsu"],
    "age": 30,
    "major": "OpenCV"}]

In [76]:
for student in students:
    for key, value in student.items():
        print(f"{key} : {value}")
    print("============================")

name : ['Alex', 'Hallberg']
age : 20
major : Computer Science
============================
name : ['John', 'Hopkins']
age : 25
major : Pure science
============================
name : ['Maru', 'Etsu']
age : 30
major : OpenCV
============================

In [82]:
try:
    result = 10/0
except:
    print("An error has occured")

An error has occured

In [103]:
try:
    numer = 10
    denom = 0
    result = float(numer/denom)

except:
    # import sys

    # exc_type, exc_value, exc_traceback = sys.exc_info()
    # line_no = exc_traceback.tb_lineno
    print("error, denominator should not be value 0")

else:
    print(f"Division success, result is {result}")
    print("the else block runs when no exception occure in the try block")

finally:
    print("Closing resource...")
    print("The finally block always runs, regardless the exception")

error, denominator should not be value 0
Closing resource...
The finally block always runs, regardless the exception

In [119]:
import traceback
import sys

try:
    10/0

except:

    exc_type, exc_value, exc_traceback = sys.exc_info()

    print("\n--- Error Information ---")
    print(f"Error type: {exc_type.__name__}")
    print(f"Error message: {exc_value}")
        
    tb_frame = exc_traceback.tb_frame
    line_no = exc_traceback.tb_lineno

    print("\n--- Location Information ---")
    print(f"File: {tb_frame.f_code.co_filename}")
    print(f"Line number: {line_no}")
    print(f"Function: {tb_frame.f_code.co_name}")

    print("\n--- Full traceback ---")
    traceback.print_exc()

else:
    print(f"Division success, result is {result}")
    print("the else block runs when no exception occure in the try block")

finally:
    print("Closing resource...")
    print("The finally block always runs, regardless the exception")

--- Error Information ---
Error type: ZeroDivisionError
Error message: division by zero

--- Location Information ---
File: C:\Users\mrohi\AppData\Local\Temp\ipykernel_2576\4109495701.py
Line number: 5
Function: <module>

--- Full traceback ---
Closing resource...
The finally block always runs, regardless the exception

Traceback (most recent call last):
  File "C:\Users\mrohi\AppData\Local\Temp\ipykernel_2576\4109495701.py", line 5, in <module>
    10/0
    ~~^~
ZeroDivisionError: division by zero

In [1]:
from sqlalchemy import create_engine , Column, Integer, String
from sqlalchemy.orm import sessionmaker, declarative_base

DB_USERNAME = "airflow"
DB_PASSWORD = "airflow"
DB_HOST = "localhost"
DB_NAME = "user_db"
DATABASE_URL = f'postgresql+psycopg2://{DB_USERNAME}:{DB_PASSWORD}@{DB_HOST}:5432/{DB_NAME}'

engine = create_engine(DATABASE_URL)

Base = declarative_base()

Session = sessionmaker(bind=engine)
session =Session()

In [2]:
class User(Base):
    __tablename__ = "users"
    __table_args__ = {'extend_existing': True}
    id = Column(Integer, primary_key=True, autoincrement=True)
    name = Column(String, nullable=False)
    email = Column(String, unique=True, nullable=False)

Base.metadata.create_all(engine)

In [3]:
new_user = User(name = "Jane Smith" , email = "jane@example.com")
session.add(new_user)
session.commit()
print(f"added user id: {new_user.id}")

added user id: 1

In [37]:
session.add(User(name = "lol smith" , email = "lolsmith@example.com"))
session.commit()
print(f"added user id: {new_user.id}")

added user id: 1

In [4]:
user = session.query(User).filter_by(id=1).first()
if user:
    print(f"found {user.name}")

users = session.query(User).all()

for user in users:
    print(f"ID: {user.id}, Name: {user.name}, Email: {user.email}")

found Jane Smith
ID: 1, Name: Jane Smith, Email: jane@example.com

In [5]:
user = session.query(User).filter_by(id=1).first()

if user:
    user.name = "Jane Doe"
    session.commit()
    print("user updated")

user updated

In [7]:
user = session.query(User).filter_by(id=1).first()
if user:
    session.delete(user)
    session.commit()
    print("user deleted")

user deleted

In [11]:
user2 = User(name="Charlie", email="charlie@example.com")
session.add(user2)
session.commit()
# print(f"added user id: {session.add(name="Charlie", email="charlie@example.com").id}")

In [12]:
user3 = User(name="Charliez", email="charliez@example.com")
session.add(user3)
session.commit()

In [38]:
users = session.query(User).all()

for user in users:
    print(f"ID: {user.id}, Name: {user.name}, Email: {user.email}")

ID: 2, Name: Charlie, Email: charlie@example.com
ID: 3, Name: Charliez, Email: charliez@example.com
ID: 4, Name: lol smith, Email: lolsmith@example.com

In [ ]:
users = session.query(User).order_by(User.id).all()
for user in users:
    print(f"id : {user.id}, name: {user.name}, email: {user.email}")

id : 2, name: Charlie, email: charlie@example.com
id : 3, name: Charliez, email: charliez@example.com
id : 4, name: lol smith, email: lolsmith@example.com

In [41]:
from sqlalchemy import desc

users = session.query(User).order_by(desc(User.id)).all()
for user in users:
    print(f"id : {user.id}, name: {user.name}, email: {user.email}")

id : 4, name: lol smith, email: lolsmith@example.com
id : 3, name: Charliez, email: charliez@example.com
id : 2, name: Charlie, email: charlie@example.com

In [2]:
from sqlalchemy import text

with engine.connect() as conn:
    conn.execute(text(
        "ALTER TABLE users ADD COLUMN phone_number VARCHAR"))
    conn.commit()
    print("added new column")

added new column

In [12]:
from typing import List, Optional
from pydantic import BaseModel
from fastapi import FastAPI

app = FastAPI()

class ItemResponse(BaseModel):
    id: int
    name: str
    description: Optional[str] = None

itemResponse= [
    {
        "id":1,
        "name": "Item 1",
        "description": "description for item 1"
    },
    {
        "id":2,
        "name": "Item 2",
        "description": "descriotion for item 2"
    },
    {
        "id":3,
        "name": "Item 3",
        "description": "descriotion for item 3"
    }
]

@app.get("/itemsresponse", response_model = List[ItemResponse])
def get_items_response():
    return itemResponse